*{
    margin: 0;
    padding: 0;
}

body{
    padding: 24px 0;
    font-family: 'Roboto', sans-serif;
}

.navbar{
    min-height: 115px;
}

.logo,.container-fluid{
    padding: 0 140px;
}

h1{
    font-size: 36px;
}

.logo>p{
    font-size: 16px;
    line-height: 24px;
    margin: 12px 0 24px 0;
}

.nav-link.active{
    color: #8AD022 !important;
}

.navbar-collapse button{
    max-width: 200px;
    width: 100%;
    background: #8AD022;
    box-shadow: 0px 3px 6px #00000019;
    border-radius: 28px 28px 0px 28px;
}

.navbar-collapse button:hover {
    background: #6FB10C;
}

section{
    padding: 0 140px;
}

.card{
    max-width: 398px;
    width: 100%;
}

.card-img, .card-img-top{
    height: 424px;
    border-radius: 10px 0;
}

h4{
    letter-spacing: 0;
    color: #212121;
    text-transform: capitalize;
    font-size: 16px;
}

.card-title{
    letter-spacing: 0.16px;
    font-size: 16px;
    color: #212121;
}

.card-text{
    letter-spacing: 0;
    color: #000000;
    opacity: 0.54;
}

.card:nth-child(4){
    padding: 0 60px;
    background: #F4F7FB;
}

h3{
    padding: 48px 0;
}

h6{
    padding-bottom: 26px;
}

.sub-text{
    padding: 30px 0;
}

.subscribe{
    padding: 82px 0;
    width: 100%;
}

.card button{
    max-width: 256px;
    width: 100%;
    height: 60px;
    border: 1px solid #8AD022;
    border-radius: 6px;
    background: transparent;
    color: #6FB10C;
}

.card button:hover{
    background: #6FB10C;
    color: white;
}



.sub-icons-item{
    font-size: 18px;
    cursor: pointer;
    color: black;
}

.sub-icons-item:hover{
    color:#212121;
}

@media (max-width: 1200px) {
    .logo,.container-fluid,section{
        padding: 0 120px;
    }
    .card{
        max-width: 350px;
        margin-top: 20px;
    }
    h3{
        text-align: center;
    }
}

@media (max-width: 992px) {
    .logo h1 , .logo p,h2{
        text-align: center;
    }
    .content{
        justify-content: center !important;
    }
}

@media (max-width: 576px) {
    h1 {
        font-size: 20px;
    }

    p,.card-text{
        font-size: 13px;
    }

    .logo,.container-fluid,section{
        padding: 0 25px;
    }
    .card{
        max-width: 300px;
        margin-top: 15px;
    }

    .card-img, .card-img-top{
        height: 300px;
    }
    h3{
        font-size: 20px;
    }
}